.gray-50 { background-color: #eee; }
.c-gray-50 { color: #eee; }

.gray-300 { background-color: #898989; }
.c-gray-300 { color: #898989; }

.gray-800 { background-color: #282828; }
.c-gray-800 { color: #282828; }

.green-100 { background-color: #fde17f; }
.c-green-100 { color: #FDE17F; }

.red-900 { background-color: #FF0000; }
.c-red-900 { color: #FF0000; }