@font-face {
    font-family: 'Pestrin';
    src: url("../fonts/pestrin.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-Bold';
    src: url("../fonts/FuturaLT-Bold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-Condensed';
    src: url("../fonts/FuturaLT-Condensed.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-CondensedBold';
    src: url("../fonts/FuturaLT-CondensedBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedExtra';
    src: url("../fonts/FuturaStd-CondensedExtraBd.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-CondensedLight';
    src: url("../fonts/FuturaLT-CondensedLight.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'FuturaLT-ExtraBold';
    src: url("../fonts/FuturaLT-ExtraBold.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedLight';
    src: url("../fonts/FuturaStd-CondensedLight.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Book';
    src: url("../fonts/FuturaStd-Book.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Bold';
    src: url("../fonts/FuturaStd-Bold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-Condensed';
    src: url("../fonts/FuturaStd-Condensed.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedLight';
    src: url("../fonts/FuturaStd-CondensedLight.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-CondensedBold';
    src: url("../fonts/FuturaStd-CondensedBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Futura-ExtraBold';
    src: url("../fonts/FuturaStd-ExtraBold.otf") format("opentype");
    font-weight: normal;
    font-style: normal;
}