.slowTop {
    border-bottom: 1px solid #000;
}
.menu__item--more_cart {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: FuturaStd;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 24px;
    letter-spacing: 0.514286px;
    text-transform: uppercase;
    color: #282828;

}
.menu__item--link_login{
    margin-right: 25px;
}
.pointer {
    cursor: pointer;
}
menu {
    z-index: 999999999 !important;
}
.menu__popup {    
    z-index: 9999999999 !important;
}
.font_certa {
    font-family: 'FuturaStd Medium' !important ;
    font-weight: 1000;

}