* {
    /* border: 1px solid #000 !important; */
}

@import url('../futura-std-4-cufonfonts-webfont/style.css');

.shop-product {
    display: block;
    margin-bottom: 50px;
    position: relative;
    min-height: 70vh;
}

.shop-product-canvas {
    display: block;
    width: 100%;
    max-width: 100vw !important;
    /* height: 100%; */
    position: absolute;
    z-index: 99;
    pointer-events: none;

    /* border: 1px solid #282828; */
}

.shop-product-title {
    display: block;
    /* font-family: FuturaStd; */
    font-family: 'Futura Std Bold';
    
    font-size: clamp(8rem, 10vw, 12.5rem);
    line-height: clamp(8rem, 10vw, 12.5rem);
    color: #282828;
    text-align: center;
    font-weight: bolder;
    margin: 0;
    padding: 0;
}

.shop-product-title-right {
    width: 50%;
    margin-left: 49%;
    position: relative;
    z-index: -1;
}

.shop-product-title-afer {
    text-align: left;
    font-size: clamp(7.5rem, 13vw, 15rem);
    line-height: clamp(7.5rem, 13vw, 15rem);
}

.shop-product-subtitle {
    display: block;
    /* font-family: 'FuturaStd Light'; */
    font-family: 'Futura Std Light';
    font-style: normal;
    font-weight: lighter;
    font-size: clamp(8rem, 10vw, 12.5rem);
    line-height: clamp(8rem, 10vw, 12.5rem);
    color: #282828;
    text-align: right;
    margin: 0;
    padding: 0;
}

.shop-product-subtitle-100 {
    font-size: clamp(4rem, 5vw, 6.25rem) !important;
    line-height: clamp(4rem, 5vw, 6.25rem) !important;
    margin-right: 75px;
}

.shop-title-light {
    font-family: 'FuturaStd CondensedLight';
}

.shop-product-subtitle-marin {
    font-family: 'FuturaStd CondensedLight';
    font-size: clamp(4rem, 5vw, 6.25rem) !important;
    line-height: clamp(4rem, 5vw, 6.25rem) !important;
    text-transform: uppercase;
}

.shop-product-subtitle-marin b {
    font-family: 'FuturaStd Heavy';
}

.shop-product-descriacao-selt {
    margin-top: 20rem;
}

.shop-product-descriacao {
    font-family: 'FuturaStd Medium';
    font-size: 20px;
    line-height: 25px;
    color: #282828;
}

.shop-image {
    position: absolute;
    top: 20px;
    right: 370px;
    width: 500px;
    max-width: 70vw;
}

.shop-image-selt {
    width: 90%;
    right: 5%;
    top: 70px;
}

.shop-product-link {
    display: block;
    background-color: #FDE17F;
    font-family: 'FuturaStd CondensedLight';
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    letter-spacing: 3.33333px;
    text-transform: uppercase;
    color: #282828;
    padding: 12px 0;
    text-decoration: none;
    transition: .3s;
}

.shop-product-link:hover {
    background-color: #ddc56d;
    font-weight: bold;
}

.shop-product-row {
    display: flex;
    justify-content: flex-end;
}

.shop-product-col {
    display: block;
    width: 370px;
    max-width: 80%;
    /* border: 1px solid #000; */
}

.shop-product-ozak {
    background-image: url(../images/enradiacao.png);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.bg-red {
    /* background-image: url(../images/red.png); */
    background-image: url(../images/full-bg-1.png);
    background-repeat: no-repeat;
    background-position: center center;
    /* background-size: auto 90%; */
}

.bg-amarelo {
    /* background-image: url(../images/amarelo.png); */
    background-image: url(../images/full-bg-0.png);
    background-repeat: no-repeat;
    background-position: top center;
    /* background-size: auto 90%; */
}

.bg-meridianas {
    background-image: url(../images/meridianas.png);
    background-repeat: repeat-y;
    background-position: 0 center;
}

.shop-product-canvas {
    pointer-events: none;
}
body {
    width: 100vw !important;
    overflow: hidden;
}

.catalogo-box {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    margin-bottom: 50px;    
    max-width: 100vw !important;
    overflow: hidden;
}

.shop-product {
    width: 100%;
}

.shop-product {
    min-height: 50vh;
}

.shop-product-col {
    top: 20px;
}

.shop-product-canvas {
    height: 50vh !important;
    width: auto !important;
    top: 20vh !important;
}

.shop-product-title {
    font-size: 60px;
    line-height: 60px;
}

.shop-product-subtitle {
    font-size: 60px;
    line-height: 60px;
}

.shop-product-title-right {
    text-align: right;
    width: 100% !important;
    margin-left: 0 !important;
}

.shop-product {
    width: 97%;
    margin: 0 auto;
}

.shop-product-col {
    width: 95vw;
    margin-top: 30vh !important;
}

.shop-product-link {
    margin-top: 0px;
}

.js-o-zak {
    top: 120px;
    height: auto !important;
    width: 100% !important;
}

.shop-product-col-o-zak {
    margin-top: 0px;
}

.shop-product-descriacao {
    font-size: 16px;
    line-height: 18px;
}

.catalogo-load {
    display: none;
    height: 100vh;
    width: 100vw;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999999999;
    background-color: #FFF;
}
.loading-lata {
    position: relative;
    background-image: url(../images/lata.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100px;
    animation-name: anime_lata;
    animation-duration: 1s;
    animation-iteration-count: infinite;
}
@keyframes anime_lata {
    0%, 29% { background-image: url(../images/lata.svg); }
    30%, 59% { background-image: url(../images/lata-2.svg); }
    60%, 90% { background-image: url(../images/lata-3.svg); }
}

.all_bg_none {
    background-image: none !important;
}

@media (max-width: 600px) {

    /* [s-] pequeno */
    .shop-image {
        right: 10vw;
        width: 80vw;
        max-width: 70vw;
    }

    .shop-product-descriacao {
        margin-top: 30vw;
    }

    .shop-product-row {
        justify-content: center;
    }

    .shop-product-title-right {
        width: 100%;
        margin-left: 0;
        text-align: center;
    }

    .shop-product-descriacao-right {
        margin-top: 40vw;
    }

    .shop-product-descriacao--afer {
        margin-top: 40vw;
    }

    .shop-product-descriacao-vive {
        margin-top: 63vw;
    }

    .shop-product-canvas {
        width: 90vw !important;
        height: auto !important;
    }

    .menu-cat {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .menu-cat-separador {
        display: none;
    }

    .shop-product {
        min-height: 65vh;
    }

    .shop-product-ozak {
        background-image: url(../images/enradiacao.png);

        background-position: center top;
        background-size: 60vw 60vw;
    }

    /* .shop-product-col {
        position: absolute;
        bottom: 0;
    } */
    .shop-product-title,
    .shop-product-subtitle {
        text-align: center !important;
        width: 98vw;
    }
    .bg-amarelo {
        background-size: 100%;
    }
    .js-o-zak {
        width: 95vw !important;
    }
    .shop-product-col {
        margin-top: 150px !important;
    }
    .catalogo-box {
        min-height: 50vh !important;
    }
    .can-shop-2 {
        margin-left: 80px !important;
    }
}

@media (min-width: 600px) {

    /* [m-] medio */
    .shop-product {
        min-height: 80vh;
    }

    .shop-product-canvas {
        height: 80vh !important;
        width: auto !important;
        top: 0vh !important;
    }

    .shop-product-title {
        font-size: 120px;
        line-height: 120px;
    }

    .shop-product-subtitle {
        font-size: 120px;
        line-height: 120px;
    }

    .shop-product-title-right {
        text-align: right;
        width: 100% !important;
        margin-left: 0 !important;
    }

    .shop-product {
        width: 90%;
        margin: 0 auto;
    }

    .shop-product-col {
        width: 300px;
        margin-top: 0px;
    }

    .shop-product-link {
        margin-top: 0px;
    }

    .js-o-zak {
        top: 120px;
        height: auto !important;
        width: 100% !important;
    }

    .shop-product-col-o-zak {
        margin-top: 0px;
    }

    .shop-product-descriacao {
        font-size: 16px;
        line-height: 18px;
    }

}

@media (max-width: 400px) {   

    .shop-product-canvas {
        width: 350px !important;
        height: 300px !important;
        margin-left: 0vw;
        top: 130px!important;
        /* background-color: #282828; */
    }

}

@media (min-width: 992px) {
    /* [l-] largo */

    .shop-product {
        min-height: 80vh;
    }

    .shop-product-canvas {
        height: 80vh !important;
        width: auto !important;
        top: 0vh !important;
    }

    .shop-product-title {
        font-size: 170px;
        line-height: 170px;
    }

    .shop-product-subtitle {
        font-size: 170px;
        line-height: 170px;
    }

    .shop-product-title-right {
        text-align: right;
        width: 100% !important;
        margin-left: 0 !important;
    }

    .shop-product {
        width: 90%;
        margin: 0 auto;
    }

    .shop-product-col {
        width: 350px;
        margin-top: 30px;
    }

    .shop-product-link {
        margin-top: 30px;
    }

    .js-o-zak {
        top: 120px;
        height: auto !important;
        width: 100% !important;
    }

    .shop-product-col-o-zak {
        margin-top: 0px;
    }

    .shop-product-descriacao {
        font-size: 20px;
        line-height: 25px;
    }

    .shop-product-col {
        margin-top: 0 !important;
    }

    .shop-product-col-o-zak {
        margin-top: 350px !important;
    }

    .js-o-zak {
        margin-top: 200px;
    }

    .header__social {
        bottom: 100px !important;
    }

}

@media (min-width: 1200px) {

    /* [xl-] muito largo */
    .shop-product {
        min-height: 80vh;
    }

    .shop-product-canvas {
        width: 50vw !important;
        height: auto !important;
        top: 0vh !important;
        margin: 0 auto;
        top: 0;
        bottom: 0;
        margin: auto;
        left: 0;
        right: 0;
        position: absolute;
    }

    .shop-product-title {
        font-size: 200px;
        line-height: 170px;
    }

    .shop-product-subtitle {
        font-size: 200px;
        line-height: 170px;
    }

    .shop-product-title-right {
        text-align: right;
        width: 100% !important;
        margin-left: 0 !important;
    }

    .shop-product {
        width: 90%;
        margin: 0 auto;
    }

    .shop-product-col {
        width: 450px;
        margin-top: 30px;
    }

    .shop-product-link {
        margin-top: 30px;
    }

    .js-o-zak {
        top: 120px;
    }

    .shop-product-col-o-zak {
        margin-top: 50px;
    }

    .shop-product-descriacao {
        font-size: 20px;
        line-height: 25px;
    }

    .shop-product-col {
        margin-top: 0 !important;
    }

    .shop-product-col-o-zak {
        margin-top: 50px !important;
    }

    .js-o-zak {
        margin-top: 200px;
    }

    .header__social {
        bottom: 350px !important;
    }
}
