.shop-product {
    display: block;
    margin-bottom: 50px;
    position: relative;
}
.shop-product-canvas {}
.shop-product-title {}
.shop-product-subtitle {}
.shop-product-descriacao {}
.shop-product-link {}