.single-banner {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/bg.png);
    background-size: cover;
}

.single-banner>div>img {
    height: 180px;
}

.single-content {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.full-track {
    display: block;
    background-color: #FEF7DF;
    margin-top: 50px;
}

.full-track-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 24px 0;
}

.track-item {
    display: flex;
    justify-content: center;
}

.track-item img {
    display: block;
    padding-right: 24px;
}

.single-grid-2 {
    display: grid;
    grid-template-columns: 40% 1fr;
}

.single-bg {
    /* border: 1px solid #CCC; */
    --texto: 'TEXTO PADRAO';
    display: block;
    /* background-image: url(../../svg/?texto=RELAXANTE&size=50&top=40), url(../../svg/?texto=RELAXANTE&size=50&top=90); */
    /* background-image: url('#text-svg'), url(../../svg/?texto=RELAXANTE&size=50&top=40); */
    background-position: 0 50px, -175px 50px;
    padding: 50px 0;
    margin-bottom: 50px;
    background-repeat: repeat-x, repeat-x;
    background-position: center  top, center  top;
    background-size: top 0px 100%, top 0px 100%, ;
    min-height: 520px;
    /* position: relative; */
    position: relative;

}
.single-bg::before {
    /* --line-1: "-500px"; */
    display: block;
    content: var(--text) ;
    font-family: 'FuturaStd CondensedBold';
    font-size: 200px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #CCC;
    color: #FFF;
    width: 1000%;
    margin-left: var(--line-1);
    transition: all .5s;
    position: absolute;
    z-index: -1;
}

.single-bg::after {
    /* --line-2: "-750px"; */
    display: block;
    content: var(--text) ;
    font-family: 'FuturaStd CondensedBold';
    font-size: 200px;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #CCC;
    color: #FFF;
    width: 1000%;
    margin-left: var(--line-2);
    transition: all .5s;
    position: absolute;
    top: 230px;
    z-index: -1;
   
}

.single-sitacao{
    background-color: #FFF6D8;
    display: block;
    padding: 24px;    
}

.single-list {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    padding: 24px;
}
.single-list img {
    width: 24px;
}

.box-single {
    display: block;
    box-shadow: 0 0 15px  rgba(0, 0, 0, .2);
    padding: 30px;
    width: 460px;
    max-width: 90vw;
    transition: .3s;
    margin-bottom: 5px;
}

.more-detail {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    height: 35px;
}
.more-detail img {
    display: block;
    width: 18px;
}

.hr {
    display: block;
    width: 100%;
    background-color: #898989;
    filter: opacity(.5);
    height: 1px;
}
.single-discout {
    font-family: 'Futura-CondensedExtra';
    padding: 3px 10px;
}

.more-link {
    color: #898989;
    text-decoration: none;
}
.track-space {
    display: block;
    width: 80%;
    background-color: #898989;
    height: 1px;
    margin: 25px 10%;
}

.big-banner-single {
    display: block;
    width: 100%;
}

.ricado {
    text-decoration: line-through;
}

.description_single p {
    font-family: 'FuturaStd Book';
    font-size: 20px;
}

.description_single p b, 
.description_single p strong {
    font-size: 20px;
    font-family: 'FuturaStd';
}

.description_single:nth-child(1) p strong {
    font-size: 30px;
    font-family: 'FuturaStd';
}

@media ( max-width: 600px) {
    /* [s-] pequeno */
    .single-grid-2 {
        grid-template-columns: 1fr;
    }
    .single-images  img{
        width: 30vw;
    }
    .single-bg {
        /* background-size: 800px, 800px;     */
    }
    .single-bg {
        display: none;
    }
    .single-grid-2 {
        padding: 20px;
    }
}

@media ( min-width: 600px) {
    /* [m-] medio */
}

@media ( min-width: 992px) {
    /* [l-] largo */
    .single-banner>div>img {
        height: 90vh;
    }
    .single-banner>div>img:nth-child(2) {
        margin-bottom: -150px;
    }
    .full-track-grid {
        display: flex;
        justify-content: space-between;
    }
    .track-space {
        width: 1px;
        height: 67px;
        margin: 0px;
    }
}

@media ( min-width: 1200px) {
    /* [xl-] muito largo */
}

@media ( max-width: 700px) {
    /* [xl-] muito largo */
    .title-big {
        font-size: 55px;
    }
}


