.single-banner {
    display: flex;
    min-height: 100vh;
    align-items: center;
    justify-content: space-around;
    background-image: url(../images/bg.png);
    background-size: cover;
}

.single-banner>div>img {
    height: 180px;
}

.single-content {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
}

.full-track {
    display: block;
    background-color: #FEF7DF;
    margin-top: 50px;
}

.full-track-grid {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    padding: 24px 0;
}

.track-item {
    display: flex;
    justify-content: center;
}

.track-item img {
    display: block;
    padding-right: 24px;
}

.single-grid-2 {
    display: grid;
    grid-template-columns: 40% 1fr;
}

.single-bg {
    display: block;
    background-image: url(../images/relaxante.png);
    background-position: 0 50px;
    padding: 50px 0;
    margin-bottom: 50px;
}
.single-sitacao{
    background-color: #FFF6D8;
    display: block;
    padding: 24px;    
}

.single-list {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    padding: 24px;
}
.single-list img {
    width: 24px;
}

.box-single {
    display: block;
    box-shadow: 0 0 15px  rgba(0, 0, 0, .2);
    padding: 30px;
    width: 460px;
}

.more-detail {
    display: grid;
    grid-template-columns: 40px 1fr;
    align-items: center;
    height: 35px;
}
.more-detail img {
    display: block;
    width: 18px;
}

.hr {
    display: block;
    width: 100%;
    background-color: #898989;
    filter: opacity(.5);
    height: 1px;
}
.single-discout {
    font-family: 'Futura-CondensedExtra';
    padding: 3px 10px;
}

.more-link {
    color: #898989;
    text-decoration: none;
}
.track-space {
    display: block;
    width: 80%;
    background-color: #898989;
    height: 1px;
    margin: 25px 10%;
}

@media ( max-width: 600px) {
    /* [s-] pequeno */
}

@media ( min-width: 600px) {
    /* [m-] medio */
}

@media ( min-width: 992px) {
    /* [l-] largo */
    .single-banner>div>img {
        height: 90vh;
    }
    .single-banner>div>img:nth-child(2) {
        margin-bottom: -150px;
    }
    .full-track-grid {
        display: flex;
        justify-content: space-between;
    }
    .track-space {
        width: 1px;
        height: 67px;
        margin: 0px;
    }
}

@media ( min-width: 1200px) {
    /* [xl-] muito largo */
}

