.title {
    font-size: 30px;
    font-family: 'FuturaLT-Bold';
}
.title-big {
    font-family: 'FuturaStd CondensedExtraBd';
    font-size: 100px;
}
.title-sub {
    font-family: 'FuturaLT-CondensedLight';
    font-size: 39px;
}
.text {
    font-family: 'FuturaLT-Condensed';
    font-size: 20px;
    line-height: 25px;
}
.text-small {
    font-family: 'FuturaLT-Condensed';
    font-size: 15px;
    line-height: 18px;
}

.font__futura-bold {
    font-family: 'FuturaLT-Bold' !important;
}
.font__futura-book {
    font-family: 'FuturaStd Book' !important;
}

.font__futura-medium {
    font-family: 'FuturaStd Medium' !important;
}

.font__futura-CondensedLight {
    font-family: 'FuturaLT-CondensedLight' !important;
}

.font-uppercase {
    text-transform: uppercase;
}

@media (max-width: 760px) {
    
    .title {
        text-align: center;
    }
}